.course {
    width: 30%;
    height: 200px;
    padding: 10px;
    color: white;
    border-radius: 8px;
    background: blue;
}

.course span {
    color: yellow;
}

.course__buttons {
    display: flex;
}

form h1  {
    color: red;
}

.course__buttons button {
    border: none;
    color: white;
    background: red;
    font-weight: 600;
    padding: 10px 12px;
}
