.course {
    gap: 70px;
    width: 30%;
    height: 200px;
    padding: 10px;
    display: flex;
    color: white;
    border-radius: 8px;
    background: blue;
    flex-direction: column;
}

.course span {
    color: yellow;
}

.course__buttons {
    display: flex;
    column-gap: 20px;
}
